/* Custom CSS */

body.layout-3 .navbar{
    margin: 16px;
}

input[type="number"] {
  -moz-appearance: textfield !important;   /* Firefox */
  -webkit-appearance: none !important;     /* Chrome, Safari */
  appearance: none !important;
}

/* Remove arrows in WebKit browsers */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main-footer {
    padding: 20px 30px 20px 280px;
    margin-top: 40px;
    color: #98a6ad;
    border-top: 1px solid #e3eaef;
    display: flex !important;
    justify-content: space-between !important;
}